* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

.container {
    display: flex;
}

.sidebar {
    width: 300px;
    padding: 20px;
    position: fixed;
    height: 100%;
    background-color: #F5F5F5;
    overflow-x: hidden;
    overflow-y: auto;
}

.content {
    flex: 1;
    margin-left: 320px;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
}

/* 滚动条美化 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #c8c6c6;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ede7e7;
}


/* 代码高亮 */
pre {
    padding: 10px;
    background-color: #F5F5F5;
    border-radius: 4px;
    overflow-x: auto;
}

pre code {
    display: block;
    padding: 0;
    background-color: transparent;
    border: 0;
}

pre code span {
    display: inline-block;
    padding: 0 5px;
    background-color: transparent;
    border-radius: 4px;
}

pre code span.keyword {
    color: #d73a49;
}

pre code span.comment {
    color: #6a737d;
}

pre code span.string {
    color: #032f62;
}

pre code span.number {
    color: #005cc5;
}

pre code span.operator {
    color: #d73a49;
}

pre code span.punctuation {
    color: #6a737d;
}

pre code span.plain {
    color: #24292e;
}

pre code span.tag {
    color: #22863a;
}

pre code span.attr-name {
    color: #005cc5;
}

pre code span.attr-value {
    color: #032f62;
}

pre code span.url {
    color: #032f62;
}

pre code span.function {
    color: #6f42c1;
}

pre code span.class-name {
    color: #005cc5;
}

pre code span.selector {
    color: #d73a49;
}

pre code span.important {
    color: #d73a49;
}

pre code span.bold {
    font-weight: bold;
}

pre code span.italic {
    font-style: italic;
}

pre code span.inserted {
    background-color: #b4e6b4;
    color: #22863a;
}

